# Flask Web后端
Flask==3.1.0
flask-cors==5.0.1

# 人脸与表情识别
opencv-python==4.11.0.86
numpy==1.26.4
pillow==11.2.1
dlib==20.0.99
deepface==0.0.93

# 机器学习与深度学习
tensorflow==2.19.0
tf_keras==2.19.0
h5py==3.13.0
scipy==1.13.0

# 其他常用依赖
requests==2.32.3
certifi==2025.4.26

# 仅如有需要可补充
# shape_predictor_68_face_landmarks.dat 需手动下载
